<header class="para-head">Instructions for Disabling MAC Address Randomization for Android Devices</header>
<p class="para-body">{Any Android Version 9 or lower users can directly skip this}</p>
<p class="para-body">To check your Android Version: </p>
<p class="para-body">Open the Settings on your phone.</p>
<p class="para-body">Scroll down until you locate a about tab (Can be about phone/about device)</p>
<p class="para-body">Locate your Android Version</p>

<br>
<p class="para-body">- Step 1: Navigate to the settings of your Windows 10 device.</p>
<p class="para-body">- Step 2: Click on Network & Internet</p>
<p class="para-body">- Step 3: Select the Wifi Tab</p>
<p class="para-body">- Step 4: Locate "Use Random Hardware Address" and switch it off</p>