{% load static %}
<header class="para-head">Instructions for Disabling MAC Address Randomization for iOS/iPadOS Devices</header>

<p class="bodyText" style="color: red"><b>Make to sure apply these settings to both ncpsp and JoinForWifi</b></p>
<p class="bodyText"><b>Step 1:</b> Navigate to the settings app of your iOS device.</p>
<img class="instructions-img" src="{% static 'instructions/home_settings_ios.jpg' %}" alt="iphone home screen with red box around settings">
<p class="bodyText"><b>Step 2:</b> Click on Wi-Fi</p>
<img class="instructions-img" src="{% static 'instructions/wifi_settings_ios.jpg' %}" alt="wifi settings within the settings app">
<p class="bodyText"><b>Step 3:</b> Tap the Information button next to JoinForWifi</p>
<img class="instructions-img" src="{% static 'instructions/wifi_info_ios.jpg' %}" alt="blue information icon next to network">
<p class="bodyText"><b>Step 4:</b> Locate "Private Address" and switch it off</p>
<img class="instructions-img" src="{% static 'instructions/ios_mac_address.jpg' %}" alt="an enabled private address setting that should be disabled">
<p class="bodyText" style="color: red"><b>Step 5: Repeat for ncpsp</b></p>