{% load static %}
<header class="headerText">Instructions for Disabling MAC Address Randomization for Windows 10 Devices</header>
<p class="bodyText">{Any Windows 7 users can directly skip this}</p>

<br>
<p class="bodyText">- <b>Step 1:</b> Navigate to the settings of your Windows 10 device.</p>
<p class="bodyText">- <b>Step 2:</b> Click on Network & Internet</p>
<img class="instructions-img" src="{% static 'instructions/settings_windows.jpg' %}" alt="windows 10 network and internet settings">
<p class="bodyText">- <b>Step 3:</b> Locate "Use Random Hardware Address" and switch it off</p>
<img class="instructions-img" src="{% static 'instructions/random_mac_address.png' %}" alt="location of private address setting toggle">