{% load static %}
<header class="headerText">Instructions for Disabling MAC Address Randomization for Windows 10 Devices</header>
<p class="bodyText">{Any Windows 7 users can directly skip this}</p>

<br>
<p class="bodyText">- Step 1: Navigate to the settings of your Windows 10 device.</p>
<p class="bodyText">- Step 2: Click on Network & Internet</p>
<img class="instructions-img" src="{% static 'images/settings_windows.jpg' %}">
<p class="bodyText">- Step 3: Locate "Use Random Hardware Address" and switch it off</p>
<img class="instructions-img" src="{% static 'images/random_mac_address.png' %}">