{% load static %}

{% if not version_check %}
    <p class="bodyText">What version of Android are you using?</p>
    <p class="bodyText"> You can check by going to Settings > About Device > Android Version. <i>Note that your
        device may have a different layout</i></p>
    <a class="windows-link" href="{% url 'instructions' %}?os=android&version_check=left">
        Android 9 or lower
    </a>
    <a class="windows-link" href="{% url 'instructions' %}?os=android&version_check=right">
        Android 10 or higher
    </a>
{% else %}

    {% if version_check == "left" %}
        {% include 'login/instructions/nodefault.html' %}

    {% else %} {# version_check == "right" #}
        <p class="bodyText"><b>Step 1:</b> Navigate to the Wi-Fi settings of your Android Device.</p>
        <img class="instructions-img" src="{% static 'instructions/wifi_network_android.jpg' %}"
             alt="wifi and network settings on android">
        <p class="bodyText"><b>Step 2:</b> Click on the Gear next to the Wifi name.</p>
        <img class="instructions-img" src="{% static 'instructions/gear_android.jpg' %}"
             alt="gear icon next to the wifi network">
        <p class="bodyText"><b>Step 3:</b> Open up Advanced settings in the network.</p>
        <img class="instructions-img" src="{% static 'instructions/details_android.jpg' %}"
             alt="advanced settings dropdown">
        <p class="bodyText"><b>Step 4:</b> Locate the Privacy setting and make sure you are using your Device MAC.</p>
        <img class="instructions-img" style="margin-bottom: 5vh" src="{% static 'instructions/advanced_android.jpg' %}"
             alt="location of the privacy setting">
        <br>
        <img class="instructions-img" src="{% static 'instructions/mac_address_android.jpg' %}"
             alt="selection of use device MAC">
        <p class="bodyText"><b>Step 5:</b> After registering your device, <b>MAKE SURE YOU USE DEVICE MAC FOR NCPSP
            ALSO!!!</b></p>
        <img class="instructions-img" src="{% static 'instructions/ncpsp_shutoff.jpg' %}"
             alt="selection of use device MAC">
    {% endif %}

    {% include 'login/instructions/fotter_buttons.html' %}
{% endif %}