{% load static %}

<h1><b>Getting Mac address of your Mac Address</b></h1>
<p class="bodyText"><b>Step 1:</b> Go to the home settings page and find <b>ABOUT PHONE</b> and click it
</p>
<img class="instructions-img" src="{% static 'instructions/about_phone_android.jpg' %}"
     alt="about phone on android settings">
<p class="bodyText"><b>Step 2:</b> Click on Status</p>
<img class="instructions-img" src="{% static 'instructions/status_android_setting.jpg' %}"
     alt="status on android settings">
<p class="bodyText"><b>Step 3:</b> Copy the Mac address and click continue</p>
<img class="instructions-img" src="{% static 'instructions/mac_address_android_settings.jpg' %}"
     alt="mac address on android settings">

{% include 'login/instructions/fotter_buttons.html' %}