{% extends "login/base.html" %}

{% block title %}Instructions{% endblock %}

{% block content %}

    <p class="instructionBlurb">
        We have detected that your device is using a randomized MAC address. You <b>cannot</b> proceed
        without disabling this. Please select your device type for instructions on disabling.
    </p>
    <span class="instructionTitle">I am using...</span>

    <div class="OS-btn-cont">
        <button class="OS-link">
            <a href="{% url 'instructions' %}?os=windows" class="OS-link">
                Windows
            </a>
        </button>

        <button class="OS-link">
            <a href="{% url 'instructions' %}?os=mac" class="OS-link">
                Macintosh
            </a>
        </button>

        <button class="OS-link">
            <a href="{% url 'instructions' %}?os=ios" class="OS-link">
                iOS / iPadOS
            </a>
        </button>

        <button class="OS-link">
            <a href="{% url 'instructions' %}?os=android" class="OS-link">
                Android
            </a>
        </button>
    </div>

    <p class="miniBlurb">
        If your device type is not listed above, please ensure MAC Address randomization is disabled on your device.
        Once that is done, please click <a href="{% url 'index' %}">here</a> to reload the page.
    </p>
{% endblock %}