{% extends "login/base.html" %}

{% block title %}Instructions{% endblock %}

{% block content %}
    <p class="bodyText">
        We have detected that your device is using a randomized MAC address. <br> You <b>cannot</b> proceed
        without disabling this. Please select your device type for instructions on disabling.
    </p>
    <span class="headerText">I am using...</span>
    <br>

    <a href="{% url 'instructions' %}?os=windows" class="button"><span class="buttonSpan">Windows</span></a>
    <br>
    <a href="{% url 'instructions' %}?os=mac" class="button"><span class="buttonSpan">Macintosh</span></a>
    <br>
    <a href="{% url 'instructions' %}?os=ios" class="button"><span class="buttonSpan">iOS / iPadOS</span></a>
    <br>
    <a href="{% url 'instructions' %}?os=android" class="button"><span class="buttonSpan">Android</span></a>
    <br>
    <br>
    <p class="footerText">
        If your device type is not listed above, please ensure MAC Address randomization is disabled on your device.
        Once that is done, please click <a href="{% url 'index' %}">here</a> to reload the page.
    </p>
{% endblock %}