html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

img {
    width: 15vw;
}

.header-pictures {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.header-para {
    text-align: center;
    font-size: 5vw;
}

.login {
  width: 100vw;
  font-family: "Do Hyeon", sans-serif;
  text-align: center;
  border-top: none;
}

.inner-width {
  max-width: 37.5rem;
  margin: auto;
}

.login h1 {
  font-size: 2rem;
  margin: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
}
.username,
.password,
.device-name {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
  min-width: 80%;
  max-width: 80%;
}

.instructions {
  font-size: 1.4rem;
}

.button {
  background-color: #c4b55f;
  text-align: center;
  text-transform: uppercase;
  border: none;
  font-size: 3vh;
  padding: 1vw;
  width: 35vh;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  border-radius: 1000vh;
}

.button .buttonSpan {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button .buttonSpan:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button:hover .buttonSpan {
  padding-right: 25px;
}

.button:hover .buttonSpan:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  right: 0;
}

.button2 {
  margin-top: 1rem;
}
.faq,
.faq-c {
  width: fit-content;
  border: none;
  background-color: white;
  text-decoration: underline;
  font-size: 2rem;
  padding-bottom: 4rem;
}

#btn2 {
  width: fit-content;
  border: none;
  background-color: white;
  text-decoration: underline;
  font-size: 2rem;
  padding-bottom: 4rem;
}

.faq-questions {
  display: none;
  width: 80vw;
  font-size: 4rem;
}

.bodyTextQ {
  color: darkslategray;
  margin-bottom: 0;
  font-size: 3rem;
}

.bodyTextA {
  font-size: 2rem;
}

.centerDiv {
  text-align: center;
  margin: auto;
  width: 80%;
}

.logoIMG {
  width: 15vw;
}

.massiveText {
  font-size: 4rem;
  width: 100%;
  color: red;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: bolder;
}
.headText {
  font-size: 5vh;
  font-weight: 400;
  margin: 1vh 1vh 3vh 1vh;
}

.bodyText {
  color: grey;
  font-size: 3vh;
}
.codeInput {
  width: 40%;
  height: 5vh;
  margin: 2vh;
  border-radius: 10px;
  border: 3px solid darkgrey;
  padding: 10px;
  text-decoration: none;
  font-size: 3vh;
  color: grey;
  text-align: center;
}

.footer {
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
}

@media screen and (max-width: 800px) {
  .username,
  .password {
    width: 100%;
  }
}
