
body, html, * {
    --color-techgold: #C4B55F;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.outerContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #222222;


}


.img-header-cont {
    display: flex;
    width: 30%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.headerImg {
    max-height: 100%;
    width: auto;
    margin: 0 1rem 0 1rem;
}

.headerTitle {

    font-size: 4.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    height: 100%;
    font-size: 4.5vh;
    font-weight: bold;
}

.instructionTitle {
    text-align: center;
    height: 7%;
    width: 100%;
    font-size: 3rem;
}

.instructionBlurb {
    text-align: center;
    font-size: 1.8rem;
    padding-top: 2rem;
    width: 80%;
    height: 13%;
}

.S-btn-cont {
    display: flex;
    height: 50%;
}

.errPage {
    font-size: 3rem;
    text-align: center;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.windows-link {
    cursor: pointer;
    height: 15%;
    margin: 4rem;
    text-decoration: none;
    font-size: 3vh;
    background-color: var(--color-techgold);
    border-radius: 3.2rem;
    color: black;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.cntrl-btn {
    cursor: pointer;
    height: 5%;
    margin: 4rem;
    text-decoration: none;
    font-size: 3vh;
    background-color: var(--color-techgold);
    border-radius: 3.2rem;
    color: black;
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerText {

    text-align: center;
    font-size: 3rem;
}

.instructions-img:hover {
    transform: scale(3.5);
    transition-duration: .4s;
}

.instructions-img:focus {
    transform: scale(3.5);
    transition-duration: .4s;

}

instructions-img {
    cursor: pointer;
}


.bodyText {
    margin: 1rem;
    font-size: 3rem;
    text-align: center;
}


@media only screen and (max-width: 960px) {
    .headerImg {
        margin: 0 .3rem 0 .3rem;
    }


}

@media only screen and (max-width: 770px) {
    * {
        font-size: 90%
    }


    .headerTitle {
        font-size: 2.8rem;
    }

    .headerImg {
        width: auto;
        height: 50%;
    }


    .instructionBlurb {
        width: 100%;
        font-size: 1.6rem;
    }

    .instructionTitle {
        font-size: 2.5rem;
    }

}

@media only screen and (max-width: 1365px) {
    .instructionBlurb {
        padding: 0;
    }

    .instructions-img:hover {
        transform: scale(1.5);
        transition-duration: .4s;
    }

    .instructions-img:focus {
        transform: scale(1.5);
        transition-duration: .4s;

    }


    .OS-btn-cont {
        width: 80% !important;
    }

}

@media only screen and (max-width: 414px) {
    * {
        font-size: 80%;
    }

    .outerContainer {

        height: 120vh;
    }


    .instructionBlurb {
        font-size: 1.5rem
    }

}


.miniBlurb {
    color: gray;
    font-size: .8rem;
    text-align: center;
    margin: .5rem 0 .5rem 0;
}

.footerStroke {
    width: 60%;
    border-radius: 2rem;
    height: 1vh;
    background-color: palegoldenrod;
}

.footer {
    height: 15%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footerText {
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5vh;
    margin-top: 0.5vh;
    color: darkgrey;
    font-size: 1.5vh;
}


.innerWidth {
    max-width: 37.5rem;
    margin: auto;
}


h1.login {
    font-size: 2rem;
    margin: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.formField {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    padding: 10px 6px;
    font-size: 14px;
    margin: 20px 0;
    min-width: 80%;
    max-width: 80%;
}


.formLeftAligned {
    max-width: 80%;
    margin: auto;
    text-align: left;
}

.errorText {
    color: red;
}

.requiredText {
    font-style: italic;
    margin-bottom: 2.5rem;
    text-align: right;
}


select {
    background-color: transparent;
    border-color: black;
    border-radius: 1rem;
    padding: 0 0 0 10px;
    margin-left: 10px;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    width: min-content;
}

.form-sentence {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.form-sentence-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.para-head {
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: underline;
}

.para-body {
    font-size: 0.8rem;
    font-weight: 200;
}

.instructions-img {
    width: 20vw;
    height: auto;
}


.OS-link {
    cursor: pointer;
    height: 20%;
    text-decoration: none;
    font-size: 3vh;
    background-color: var(--color-techgold);
    border-radius: 3.2rem;
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.OS-btn-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 40%;
}


.wifipass {
    font-size: 2.75vh;
    text-align: center;
}

@media screen and (max-width: 1300px) {
    .instructions-img {
        width: 50vw;
    }
}
