{% extends "login/base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="formLeftAligned">
        <h1>Your device is already registered.</h1>
        <!-- <h2>Here's what to do next:</h2> -->
        <!-- <ol>
            <li class="bodyText">Ensure MAC Address Randomization/Private MAC Address is disabled for <i>ncpsp</i></li>
            <li class="bodyText">Disconnect from the network, <i>JoinForWifi</i></li>
            <li class="bodyText">Copy the following password and connect to <i>ncpsp</i>:</li>
        </ol> -->
        <h2>Here's the password for <b>ncpsp</b> in case you need it:</h2>
        <pre class="bodyText" id="ncpspPassword">605D785001@rackID78R605</pre>
    <br>
    </div>

    <script>
    document.querySelector("#ncpspPassword").addEventListener('click', function (ev) {
         // Select entire password
         if (window.getSelection) {
             let range = document.createRange();
             range.selectNodeContents(this);
             window.getSelection().removeAllRanges();
             window.getSelection().addRange(range);
        }
    });
    </script>
{% endblock %}
