{% extends "login/base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
    <div class="formLeftAligned">

    <h1>Uh oh. We were unable to add this device to the network.</h1>
    <h2> {{ error_message }} </h2>

    {% for line in error_fixes %}
        <p>{{ line |safe }}</p>
    {% endfor %}

    <br>
    <a href="{% url 'index' %}"><button><span class="buttonSpan">Go Back</span></button></a>

    <br>
    {# TODO: Move inline styling into CSS file #}
    <p style="margin-top: 5rem;">Debug Info:</p>
    <iframe src="{% url 'debug' %}" title="debug" width="100%" style="
        overflow: hidden;
        border: unset;
        -ms-zoom: 0.75;
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
    "></iframe>

    </div>
{% endblock %}

{# Remove footer entirely #}
{% block footer %}{% endblock %}