{% extends "login/base.html" %}

{% block content %}
    <h1>Student Login</h1>
    <container style="display: block">
        <div style="display: inline-block">
            <div style="display: inline-block">
                <p class="bodyText">In the ID Field, put in your Student OSIS Number.</p>
                <p class="bodyText">In the Token Field, put in your DOB in the format (MMDDYYYY)</p>
                <p class="bodyText">Upon successful login, DO NOT close the browser until reading the instructions.</p>
                <p class="bodyText">As a student, any device you've registered previously <b>WILL</b> have their
                                access removed upon approval of the device you are using now.</p>
                <p class="bodyText">Once you have registered this device, you won't be able to change it for a
                                certain period of time.</p>
                <p class="bodyText">Be sure to follow the on-screen instructions CLOSELY!</p>
                <p class="bodyText">Once you're ready, continue below:</p>
            </div>
        </div>
        <div style="display: inline-block">

            {% include "login/loginform.html" %}
        </div>
    </container>
{% endblock %}