{% extends "login/base.html" %}

{% block content %}
    <h1>Student Login</h1>
    <p class="para-body">In the ID Field, put in your Student OSIS Number.</p>
    <p class="para-body">In the Token Field, put in your DOB in the format (MMDDYYYY)</p>
    <p class="para-body">Upon successful login, DO NOT close the browser until reading the instructions.</p>

    {% include "login/loginform.html" %}

    <div>
        <p class="para-body">As a student, any device you've registered previously <b>WILL</b> have their
                            access removed upon approval of the device you are using now.</p>
        <p class="para-body">Once you have registered this device, you won't be able to change it for a
                            certain period of time.</p>
        <p class="para-body">Be sure to follow the on-screen instructions CLOSELY!</p>
        <p class="para-body">Once you're ready, continue below:</p>
    </div>
    <button class="button" type="submit"><span class="buttonSpan">Go</span> </button>
{% endblock %}