{% extends "login/base.html" %}

{% block title %}Success{% endblock %}

{% block content %}

    <h1 class="headerText">Success!</h1>
    <br>
    <p class="errorText"><i><b>IMPORTANT:</b> Please read the following</i></p>
    <span class="bodyText"><b>Your device has been successfully registered. Here's what to do next:</b></span>
    <p class="bodyText">1) <b></b>Copy the following password and connect to <b>ncpsp</b></p>
    <div>
        <p class="errorText"><b>iOS/iPadOS/Android Users:</b> ENSURE RANDOM/PRIVATE MAC ADDRESS ARE DISABLED ON
            NCPSP</p>
        <input type="text" id="wifipass" class="formField" value="605D785001@rackID78R605" readonly>
        <div class="errMsg"></div>
    </div>

    <script>
        // Both queryCommandSupported and execCommand have been deprecated.
        // Should they break, we have a fallback: Remove the copy button.
        // TODO: Find a suitable replacement?
        // NOTE: the Clipboard API is HTTPS only, and is currently still a working draft. (as of 2022/07/07)

        let canCopy = true;
        const copyBtn = document.querySelector("#copyButton");
        const errMsg = document.querySelector(".errMsg");
        ``
        try {
            document.queryCommandSupported('copy');
        } catch (e) {
            if (e instanceof ReferenceError) {
                copyBtn.remove();
            }
            console.error("queryCommandSupported is fully deprecated");
            errMsg.innerHTML = "Copy Manually";
            canCopy = false

        }

        if (canCopy) {
            copyBtn.addEventListener("click", function () {
                try {
                    const copyText = document.querySelector("#wifipass");
                    copyText.setSelectionRange(0, copyText.value.length);
                    copyText.select();
                    document.execCommand("copy");
                    this.innerHTML = "Copied!";
                } catch (e) {
                    if (e instanceof ReferenceError) {
                        this.innerHTML = "Copy Manually";
                        console.error("queryCommandSupported is fully deprecated")
                    }
                }
            });
        }
    </script>
{% endblock %}