{% extends "login/base.html" %}

{% block content %}
    <h1>Teacher Login</h1>
    <container class="columnedParentDiv">
        <div class="columnedChildDiv">
            <div class="bodyText">
                <p class="bodyText"><b>Instructions:</b></p>
                <p>Please find your password slip given to you by Mr.Whalen.</p>
                <p>In the Email Field, enter you schools.nyc email.</p>
                <p>Example: <i>jdoe1@schools.nyc.gov</i></p>
                <p>In the Token Field, enter your the password combination you have received.</p>
                <div class="divider"></div>
                <p>Upon successful login, DO NOT close the browser until reading the instructions.</p>
                <p>Be sure to follow the instructions CLOSELY!</p>
                <p>If you do not follow all the steps, there will be issues.</p>
                <p>Once you're ready, click the button.</p>
            </div>
        </div>
        <div class="columnedChildDiv">
            {% include "login/loginform.html" %}
        </div>
    </container>
{% endblock %}