# https://www.freedesktop.org/software/systemd/man/systemd.netdev
[NetDev]
Name=eth0.vx${VX_VNI}
Kind=vxlan

[VXLAN]
VNI=${VX_VNI}
Group=${VX_GROUP}
DestinationPort=4789
TTL=5
MacLearning=true
MaximumFDBEntries=65535
