<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="header-pictures" style="margin-bottom: 10rem;">
    <img src="{% static 'logo1.svg' %}">
    <img src="{% static 'logo2.svg' %}">
</div>

<div class="form-sentence-start">
    <form action="/" method="post">
        {% csrf_token %}
        {{ form }}
    </form>
</div>
{{ form.media }}
</body>
</html>