<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions-MAC</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<div class="header-pictures">
    <img src="{% static 'logo1.svg' %}">
    <p class="header-para">Wi-Fi Device Registration</p>
    <img src="{% static 'logo2.svg' %}">
</div>
<div class="form-sentence">
    <form action="/" method="post">
        {% csrf_token %}
        {{ form }}
    </form>
</div>

<div class="instructions-txt">
    {% if device_os == "other" %}
        {% include 'device_instructions/other.html' %}
    {% else %}
        {% if device_os == "windows" %}
            {% include 'device_instructions/windows.html' %}
        {% elif device_os == 'mac' %}
        {% elif device_os == 'ios' %}
            {% include 'device_instructions/ios.html' %}
        {% elif device_os == 'android' %}
            {% include 'device_instructions/android.html' %}
            </div>

        {% endif %}
    {% endif %}
<button class="button" id="loginSubmit" onclick="location.href = '/login'"><span class="buttonSpan">Continue</span></button>

<script>
    document.getElementById("loginSubmit").style.display = "none";

    function showButton() {
            document.getElementById("loginSubmit").style.display = "inline";
        }

    function Function() {
            window.location = "instructions.html"
        }

    setTimeout(showButton, 1000);
</script>
{{ form.media }}
</body>
</html>