{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    {% load css_filter %}

    <div class="innerWidth">
        <form method="post" action="{% url 'login' %}">

            {% csrf_token %}
            <h1 class="uppercase">Sign In</h1>
            <p class="bodyText"><b>Students:</b> ID is your student ID (OSIS) number. Default token is your birthday
                in the format <i>MMDDYYYY</i></p>
            <br>
            {% if form.errors %}
                <div class="formLeftAligned errorText">
                    Errors:
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {{ form.username|addcss:'formField' }}
            {{ form.password|addcss:'formField' }}
            {{ form.device_name|addcss:'formField' }}
            <div class="formLeftAligned requiredText">* Required</div>
            <div class="formLeftAligned">
                <h3>What happens now?</h3>
                <ul>
                    <li>If you're a student, any previously registered devices will have their WiFi access revoked and
                        this
                        device will have its access approved.
                    </li>
                    <li>There is a limited number of device registrations you can make per day.</li>
                    <li>Be sure to follow the on screen instructions. We cannot help you if you do not read.</li>
                    <li>Once you're ready, continue below:</li>
                </ul>
            </div>

            <button class="button" type="submit"><span class="buttonSpan">Go</span></button>
        </form>
         <a href="{% url 'teachers' %}" class="teacher"><b>Teachers Please Click here</b>
        </a>
    </div>

{% endblock %}