<html lang="en">

<head id="head">
    {%  load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'loginstyle.css' %}">
    <title>SITHS Wifi Login</title>
</head>

<body id="body">
<div class="header-pictures">
    <img src="{% static 'logo1.svg' %}">
    <p class="header-para">Wi-Fi Device Registration</p>
    <img src="{% static 'logo2.svg' %}">
</div>

    <form class="login" id="login">
        <div class="inner-width">
            <h1>Please Log In</h1>
            <p class="instructions">The Login requires your student ID as well as your date of birth. Your ID number is the username and the password is your birthday in the format (MMDDYYYY). You may name your device anything you'd like.</p>
            <input type="text" class="username" placeholder="Student ID">
            <input type="password" class="password" placeholder="Access Token">
            <input type="text" class="device-name" placeholder="Device Name">
            <button class="button" id="loginSubmit" type="submit"><span class="buttonSpan">Submit</span></button>
        </div>
    </form>
    <button class="faq" id="faq">FAQ</button>
    <div class="faq-questions" id="faq-questions">
        <p class="headText">Frequently Asked Questions</p>

        <p class="bodyText bodyTextQ">Why can't I connect using my device?</p>
        <p class="bodyText bodyTextA">You may be using an unauthorized device, or an unidentified device. Otherwise, you
            may have a special case for not being able to connect. Please contact byod@sitechhs.com if this is the case.
        </p>

        <p class="bodyText bodyTextQ">What if I get a new device?</p>
        <p class="bodyText bodyTextA">Join this network again, and run through the process once again. Your old device
            will lose internet access, and your new device will be registered onto the network.</p>

        <p class="bodyText bodyTextQ">What's the password to ncpsp?</p>
        <p class="bodyText bodyTextA">605D785001@rackID78R605</p>

        <p class="bodyText bodyTextQ">How do I find my MAC address?</p>
        <p class="bodyText bodyTextA">This website finds it for you.</p>

        <p class="bodyText bodyTextQ">I've lost my device, what do I do?</p>
        <p class="bodyText bodyTextA">Please email byod@sitechhs.com.</p>

        <p class="bodyText bodyTextQ">Why can't I connect to the school WiFi from home?</p>
        <p class="bodyText bodyTextA">Wi-Fi only works across short distances.</p>

        <p class="bodyText bodyTextQ">Can I have phones on the network?</p>
        <p class="bodyText bodyTextA">No.</p>

        <p class="bodyText bodyTextQ">Can I have multiple devices on the network?</p>
        <p class="bodyText bodyTextA">No.</p>

        <p class="bodyText bodyTextQ">Please?</p>
        <p class="bodyText bodyTextA">Stop. No.</p>

        <p class="bodyText bodyTextQ">Who can add me to the Wi-Fi?</p>
        <p class="bodyText bodyTextA">Nobody. Please send an appeal to byod@sitechhs.com.</p>

        <p class="bodyText bodyTextQ">What if I have additional questions?</p>
        <p class="bodyText bodyTextA">Please contact us at byod@sitechhs.com.</p>

        <p class="bodyText bodyTextQ">What if I don't have additional questions?</p>
        <p class="bodyText bodyTextA">Thank you for reading this FAQ to this point. We value value concerns, and we
            would appreciate your feedback at byod@sitechhs.com.</p>

        <p class="bodyText bodyTextQ">Who can I thank for this lovely website?</p>
        <p class="bodyText bodyTextA">Us.</p>

        <button class="faq-c" id="faq-c">Close</button>
    </div>
    <a href="#home-head" class="faq-questions" id="btn2">Go Back</a>

    <script src="index.js"></script>
</body>

</html>