<div class="divider"></div>
<div class="bodyText">
    <p>In the ID Field, put in your Student OSIS Number.</p>
    <p>In the Token Field, put in your DOB in the format (MMDDYYYY)</p>
    <p>Device name is NOT REQUIRED. If you wish to write one, you may.</p>
    <br>
    <p>Upon successful login, DO NOT close the browser until reading the instructions.</p>
    <p>As a student, any device you've registered previously <b>WILL</b> have their
                    access removed upon approval of the device you are using now.</p>
    <p>Once you have registered this device, you won't be able to change it for a
                    certain period of time.</p>
    <p>Be sure to follow the on-screen instructions CLOSELY!</p>
    <p>Once you're ready, click the button.</p>
</div>
<div class="divider"></div>