<div class="divider"></div>
<div class="bodyText">
    <p class="bodyText"><b>Instructions:</b></p>
    <p>In the Email Field, enter you schools.nyc email.</p>
    <p>Example: <i>jdoe1@schools.nyc.gov</i></p>
    <p>Device name is NOT REQUIRED. If you wish to write one, you may.</p>
    <br>
    <p>Upon successful login, DO NOT close the browser until reading the instructions.</p>
    <p>Be sure to follow the instructions CLOSELY!</p>
    <p>If you do not follow all the steps, there will be issues.</p>
    <p>Once you're ready, click the button.</p>
</div>
<div class="divider"></div>
